<h2 class='statement'>
  <p>
    <span>
      Follow random people for a day and discover Twitter with Twidipity
    </span>
  </p>

  <a href='https://twitter.com/intent/tweet?original_referer=<%= root_url %>&status=Join%20@Twidipity%20in%20the%20discovery%20of%20Twitter <%= root_url %>'>Share</a> and <%= link_to 'Signin', '/auth/twitter' %>
</h2>
