<h2 class='statement'>
  <%= link_to 'Join', '/auth/twitter' %>
  <span>Twidipity
  to <a href='https://twitter.com/intent/tweet?original_referer=<%= root_url %>&status=Join%20@Twidipity%20in%20the%20discovery%20of%20Twitter <%= root_url %>'>share</a> in the discovery of <span>Twitter</span>
</h2>
