.section-1 {
  margin: $spacing*4 0;
	text-align: center;

  .logo {
    margin-bottom: $spacing*2;
  }
}

.section-1-intro-text {
  font-size: 36px;
  line-height: 50px;
  margin: 0 auto $spacing*2 auto;
  max-width: 800px;
}

.section-2 {
	@include clearfix;
  margin: $spacing*2 0;

  h2 {
    margin-top: 0;
  }
}