<div class="grid-item">
  <%= image_tag(suggestion.profile_image_uri, alt: suggestion.screen_name, class: "grid-item-img") %>
  <div class="grid-item-name-wrapper">
    <div class="grid-action">
      <a href="#">Play</a> or <%= link_to 'Delete', '#', method: :delete %>
    </div>
    <div class="grid-item-name">
      <%= suggestion.screen_name %>
    </div>
  </div>
</div>
