<div class="section-1">
	<h1 class="logo">Twidipity</h1>
	<p class="section-1-intro-text">Discover something new on Twitter by following random people for a day</p>
	<a href="/auth/twitter" class="btn">Connect your account &amp; find a random person</a>
</div>