<% statement.suggestions.map(&SuggestionDecorator).each do |suggestion| %>
  <li>
    <div>
      <%= link_to(image_tag(suggestion.profile_image_uri, alt: suggestion.screen_name), suggestion.uri, target: :blank) %>
      <span>@<%= suggestion.screen_name %></span>
    <div>
  </li>
<% end %>
