<div class="grid-item">
  <%= link_to(image_tag(suggestion.profile_image_uri, alt: suggestion.screen_name, class: "grid-item-img"), suggestion.uri, target: :blank, class: "grid-item-link") %>
  <div class="grid-item-name-wrapper">
    <div class="grid-item-name">
      @<%= suggestion.screen_name %>

      <% if defined?(statement) %>
        <%= distance_of_time_in_words_to_now(statement.ending_at) %>
        <%= link_to 'delete', statement_path(statement), method: :delete %>
      <% end %>
    </div>
  </div>
</div>
