<% if @statements.last.error? %>
  <% content_for(:developer) do %>
    <p><%= @statements.last.error %></p>
  <% end %>
<% end %>

<% content_for(:title) { 'Twidipity | Following' } %>
<% content_for(:nav) { render partial: 'nav' } %>

