<% if @statement.error? %>
  <% content_for(:developer) do %>
    <p><%= @statement.error %></p>
  <% end %>
<% end %>

<div class='status'>
  <h3><%= link_to 'Stop', statement_path, method: :delete %></h3>
</div>

<h2 class='subtitle'>Following <span>these four</span> random people for <span>24 hours</span></h2>

<ul class='suggestions'>
  <% @statement.suggestions.each do |suggestion| %>
    <li>
      <%= link_to(image_tag(suggestion.profile_image_uri, size: "20x20", alt: suggestion.screen_name), suggestion.uri, target: :blank) %>
    </li>
  <% end %>
</ul>

<div class='links'>
  <%= link_to 'Signout', logout_path %>
</div>
