<div class="landing-pane">
  <article>
    <h1 class="logo">Twidipity</h1>
    <h2><span>Discover Twitter</span> Follow random people every day for 24 hours</h2>
    <a href="/auth/twitter">Join</a>
  </article>
</div>
