<div class="row director">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <% if flash.any? %>
      <% flash.each do |name, msg| %>
        <%= content_tag :h3, msg %>
      <% end %>
    <% else %>
      <h3>Coming Soon</h3>
    <% end %>
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row statement">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div>
      <h1>Twidipity</h1>
    </div>
    <div>
      <h2>The <span>discovery</span> of <span>tweets</span></h2>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row director">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h3><%= link_to 'Notify', notify_landing_pad_index_path %> | <a href="https://twitter.com/home?status=The%20discovery%20of%20fortunate%20Twitter%20events%20by%20accident%20with%20@Twidipity">Share</a></h3>
  </div>
  <div class="col-md-2"></div>
</div>
