<%= form_tag controller: :landing_pad, action: :create do %>
  <div class="status date">
    <h3><%= signin_link %></h3>
  </div>
  <%= text_field_tag :email, nil, placeholder: 'EMAIL ADDRESS', required: true %>
  <%= submit_tag "Send", :class => "submit" %>
<% end %>
