//Typography

@mixin font-normal {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

@mixin hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

//Animations

@mixin bg-color-animation {
  -webkit-transition: background-color 300ms ease-out;
     -moz-transition: background-color 300ms ease-out;
       -o-transition: background-color 300ms ease-out;
          transition: background-color 300ms ease-out;
}

//Layout

@mixin clearfix {
  content: "";
  display: table;
  clear: both;
}

@mixin full-width-height {
  height: 100%;
  width: 100%;
}

@mixin center-all {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row; /* works with row or column */
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

//Design treatments

@mixin gradient-border {
  content: "";
  background-image: linear-gradient(to right, #D3A90A 0%, #69B9C7 100%);
  height: 1px;
  position: absolute;
}

@mixin gradient-border-bottom {
  @include gradient-border;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin gradient-border-top {
  @include gradient-border;
  left: 0;
  right: 0;
  top: 0;
}