// Developer bar
$alert: #FF0000;

// Typography
$body-font-size: 14px;
$mini-font-size: 12px;
$header-font-size: 30px;

$body-line-height: 24px;

// Colours
$body-color: #ffffff;
$accent-color: #69B9C7;

$brand-color: #D3A90A;

$background-color: #1F1C17;

$border-color: #3D3A35;

// Border, spacing, and widths
$border-size: 2px;
$border-style: solid;
$border-radius: 3px;

$spacing: 25px;