.btn {
	background-color: transparent;
	border: $border-size $border-style $brand-color;
	border-radius: 50px;
	color: $body-color !important;
	display: inline-block;
	padding: 10px 20px;
	text-decoration: none;

	@media (max-width: 768px) {
		width: 100%;
	}
}