ul.chess-board {
  list-style: none;

  li {
    float: left;  
    width: 20%;
    margin-bottom: 50px;

    div {
      width: 200px; 
      height: 200px; 
      position: relative;

      input[type="submit"] {
        background: inherit;
        border: none;
        font-size: 125px;
        height: 200px;
        width: 200px;
      }

      span {
        position: absolute;
        bottom: 0px;
        left: 0px;
        height: 40px;
        width: 100%;
        background: grey;
        text-align: center;
        color: black;
      }
    }
  }
}
