.grid-container {
  margin: 0 auto;
  width: 1080px;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.grid-item {
  float: left;
  width: 200px;
  height: 200px;
  margin: 0 20px 20px 0;
  position: relative;

  &:hover .grid-item-name, &:hover .grid-item-name-wrapper{
    display: none;
  }

  &:nth-child(5n+0){
    margin-right: 0;
  }

  img {
    border-radius: $border-radius;
  }
}

.grid-item-name-wrapper {
  @include center-all;
  background: rgba(0,0,0,0.50);
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
}

form {
  border: $border-size $border-style $main-color;
  border-radius: $border-radius;
  height: 100%;
}

.add-grid-item {
  background-color: transparent;
  border: 0;
  font-size: 72px;
  height: 100%;
  width: 100%;
}