@include sticky-footer(30px, 'content', 'footer');

footer {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      margin-left: $spacing;
    }

    a {
      color: $footer-link-color;
      font-size: $mini-font-size;
    }
  }
}
