.logo {
	@include hide-text;
	background: transparent image-url('logo.png') center center no-repeat;
	background-size: 70px 70px;
	height: 70px;
	width: 70px;
	margin: 0 auto 50px auto;
}

.page-divider {
  background-image: linear-gradient(to right, #D3A90A 0%, #69B9C7 100%);
  height: 1px;
}