.grid-action {
  display: none;

  a {
    text-transform: uppercase;
    color: $body-color;

    &:hover {
      color: $brand-color;
    }
  }
}

.grid-item {
  float: left;
  width: 200px;
  height: 200px;
  margin: 0 $spacing $spacing 0;
  position: relative;

  &:hover .grid-item-name, &:hover .grid-item-timer {
    display: none;
  }

  &:hover .grid-action {
    display: inline-block;
  }

  &:nth-child(5n+0) {
    margin-right: 0;
  }
}

.grid-item-img {
  border-radius: $border-radius;
}

.grid-item-name-wrapper {
  @include center-all;
  @include full-width-height;
  @include bg-color-animation;
  background-color: rgba(0,0,0,0.50);
  border-radius: $border-radius;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

.grid-item-loading {
  background: none;

  .logo {
    opacity: 0.1;
  }
}

.grid-item-add {
  background: none;

  input[type=submit] {
    margin-top: -32px;
    color: $brand-color;
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    font-size: 120px;
    margin: 0 auto;
    text-transform: uppercase;

    &:hover {
      color: $body-color;
    }
  }
}

.grid-item-timer {
  font-size: $mini-font-size;
  opacity: 0.6;
  margin-top: -8px;
}
