.grid-delete-link {
  display: none;
}

.grid-item {
  float: left;
  width: 200px;
  height: 200px;
  margin: 0 $spacing $spacing 0;
  position: relative;

  &:hover .grid-delete-link {
    @include hide-text;
    background: transparent image-url('delete-icon.png') center center no-repeat;
    background-size: 20px 20px;
    display: inline-block;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &:nth-child(5n+0) {
    margin-right: 0;
  }
}

.grid-item-link {
  color: $body-color;
  display: block;

  &:hover, &:visited {
    color: $body-color;
  }
}

.grid-item-img {
  border-radius: $border-radius;
}

.grid-item-name-wrapper {
  @include center-all;
  @include full-width-height;
  @include bg-color-animation;
  background-color: rgba(0,0,0,0.50);
  border-radius: $border-radius;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;

  &:hover {
    background-color: rgba(0,0,0,0);
  }
}

.grid-loading {
  background-color: $accent-color;
}

.grid-item-timer {
  font-size: $mini-font-size;
}