.flexcontainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
          flex-direction: row;
      -webkit-align-items: center;
              align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  height: 100%;
}

.teaser {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: $letter-spacing;

  .logo {
    background: url(asset-path('logo.png')) no-repeat center center;
    display: inline-block;
    height: 130px;
    margin-bottom: 20px;
    width: 130px;    
  }

  .status {
    margin-bottom: 23%;

    h3 {
      color: $director;
      font-size: $director-font-size;
      font-weight: $font-weight;
      margin: 0;
      padding-left: $letter-spacing;

      a {
        color: inherit;

        &:hover {
          text-decoration: none;
          color: $statement-touch;
        }
      }      
    }
  }

  .date {
    margin-bottom: 0;
  }

  .title {
    color: $statement-name;
    font-size: 60px;
    font-weight: $font-weight;
    letter-spacing: 25px;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 5px;
    padding-left: 25px;
  }

  @media (max-width: 768px) {
    .title {
      font-size: 24px;
      letter-spacing: 18px;
      padding-left: 18px;
    }
  }

  .subtitle {
    color: $statement-static;
    font-size: 15px;
    font-weight: $font-weight;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: $letter-spacing;

    span {
      color: $statement-touch;
    }
  }

  .links{
    color: $director;
    margin-top: 23%;
    padding-left: $letter-spacing;

    a {
      color: $director;
      font-size: 12px;
      font-weight: $font-weight;
    }
  }

  input[type=text] {
    border: none;
    outline: none;
    text-align: center;
    background: $background;
    color: $statement-name;
    font-size: 60px;
    font-weight: $font-weight;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 5px;
    max-width: 100%;
  }

  input[type=submit] {
    color: $director;
    display: block;
    font-size: $director-font-size;
    padding: 0;
    border: none;
    background: none;
    font-family: $default-font;
    font-weight: $font-weight;
    letter-spacing: $letter-spacing;
    margin: 0 auto;
    text-transform: uppercase;

    &:hover {
      color: $statement-touch;
    }
  }
}