.container-fluid {
  text-transform: uppercase;

  .director {
    h3 {
      color: $director;

      a {
        color: inherit;
      }
    }
  }

  .statement {
    h1 {
      color: $statement-name;
    }

    h2 {
      color: $statement-static;

      span {
        color: $statement-touch;
      }
    }
  }
}
