html, body {  
  height: 100%
}

.flexcontainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
          flex-direction: row;
      -webkit-align-items: center;
              align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  height: 100%;
}

.container-fluid {
  text-transform: uppercase;
}

.director {
  h3 {
    color: $director;
    font-size: $director-font-size;

    a {
      color: inherit;

      &:hover {
        text-decoration: none;
        color: $statement-touch;
      }
    }

    input[type=submit] {
      font-size: $director-font-size;
      text-transform: uppercase;
      padding: 0;
      border: none;
      background: none;
      font-family: $default-font;
      font-weight: $font-weight;
      letter-spacing: $letter-spacing;

      &:hover {
        color: $statement-touch;
      }
    }
  }
}

.statement {
  h1 {
    color: $statement-name;
    letter-spacing: 25px;
    font-size: 60px;
  }

  h2 {
    color: $statement-static;
    font-size: 15px;

    span {
      color: $statement-touch;
    }
  }

  input[type=text] {
    height: 40px;
    width: 400px;
    padding-left: 15px;
    border: none;
    border-left: 3px solid $statement-name;
    border-right: 3px solid $statement-name;
    outline: none;
    text-align: center;
    color: $statement-touch;
    background: $background;
    font-family: $default-font;
    font-weight: $font-weight;
    letter-spacing: $letter-spacing;
  }
}
