html, body {
  height: 100%
}

body {
  background-color: $background;
  font-family: $default-font;
  font-weight: $font-weight;
  text-align: center;
}

a {
  text-decoration: none;
  color: $director;
}
